<div class="card mt-3">
    <div class="card-body">
        <div class="card-title" translate>
            <i class="fa fa-users"></i> HEADER.CREATE-USER
            <div class="float-right">
                <button routerLink="/admin/users" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-angle-double-left fa-fw"></i> <span class="xs-hidden" translate>BTN.BACK</span>
                </button>
            </div>
        </div>
        <div class="card-subtitle text-muted" translate>
            {{'HEADER.HOME' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{'HEADER.USERS' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{'HEADER.CREATE-USER' | translate }}
        </div>
        <div class="card-text">
            <app-user-form [module]="'admin'" [response]="responseSubject.asObservable()"
                           (formSubmitted)="submit($event)"></app-user-form>
        </div>
    </div>
</div>
