<div class="card mt-3">
    <div class="card-body">
        <div class="card-title" translate>
            <i class="fa fa-users"></i> HEADER.USER-MANAGEMENT
            <div class="float-right">
                <button routerLink="/admin/users" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-angle-double-left fa-fw"></i> <span class="xs-hidden" translate>BTN.BACK</span>
                </button>
            </div>
        </div>
        <div class="card-subtitle text-muted" translate>
            {{'HEADER.HOME' | translate }} <i class="fa fa-angle-double-right fa-fw"></i> {{'HEADER.USERS' | translate }}
            <i class="fa fa-angle-double-right fa-fw"></i> {{user.surname}} {{user.name}}
        </div>
        <div class="card-text">
            <app-user-details [user]="user" [extendedInfo]="true"></app-user-details>

            <hr/>
            <a class="btn btn-sm btn-outline-primary" routerLink="edit" translate>BTN.EDIT-DETAILS</a>
            <a class="btn btn-sm btn-outline-primary" routerLink="password" translate>BTN.EDIT-PASSWORD</a>
            <a class="btn btn-sm btn-outline-primary" routerLink="roles" translate>BTN.EDIT-ROLES</a>
            <a class="btn btn-sm btn-danger" (click)="deleteUser()" translate>BTN.DELETE</a>
        </div>
    </div>
</div>
