<h2 translate>HEADER.EDIT-PARTICIPANTS</h2>

<div class="row mb-2">
    <div class="col-md-2 col-form-label" translate>TRAINING.PARTICIPANTS</div>
    <div class="col-md-5">
        <div *ngFor="let checkbox of usersCheckboxes">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [checked]="checkbox.value"
                           (change)="checkbox.value = !checkbox.value">
                    {{checkbox.item.surname}} {{checkbox.item.name}} ({{checkbox.item.email}})
                </label>
            </div>
        </div>
    </div>
</div>

<p *ngIf="!isOutlookLogged" class="text-danger" translate>INTEGRATION.OUTLOOK-WARNING</p>
<button [routerLink]="['/unitleader/trainings', training.id]" type="button" class="btn btn-dark" translate>
    BTN.BACK
</button>
<button (click)="submitUsers()" type="button" class="btn btn-success" translate>
    BTN.SAVE
</button>
