<h2 translate>HEADER.EDIT-ROLES</h2>

<div class="row mb-2">
    <div class="col-md-2 col-form-label" translate>USER.ROLES</div>
    <div class="col-md-5">
        <div *ngFor="let checkbox of rolesCheckboxes">
            <div class="form-check">
                <label class="form-check-label" translate>
                    <input class="form-check-input" type="checkbox" [checked]="checkbox.value"
                           (change)="checkbox.value = !checkbox.value">
                    ROLE.{{checkbox.item.name}}
                </label>
            </div>
        </div>
    </div>
</div>

<button [routerLink]="['/admin/users', user.id]" type="button" class="btn btn-dark" translate>
    BTN.BACK
</button>
<button (click)="submitRoles()" type="button" class="btn btn-success" translate>
    BTN.SAVE
</button>
