<div class="card mt-3">
    <div class="card-body">
        <div class="card-title" translate>
            <i class="fa fa-graduation-cap"></i> HEADER.TRAINING-DETAILS
            <div class="float-right">
                <button routerLink="/unitleader/trainings" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-angle-double-left fa-fw"></i> <span class="xs-hidden" translate>BTN.BACK</span>
                </button>
            </div>
        </div>
        <div class="card-subtitle text-muted" translate>
            {{'HEADER.HOME' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{'HEADER.TRAININGS' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{training.name}}
        </div>
        <div class="card-text">
            <app-training-details [training]="training"></app-training-details>

            <hr/>
            <a class="btn btn-sm btn-outline-primary" routerLink="edit" translate>BTN.EDIT-DETAILS</a>
            <a class="btn btn-sm btn-outline-primary" routerLink="edit/participants" translate>BTN.EDIT-PARTICIPANTS</a>
            <a class="btn btn-sm btn-danger" (click)="deleteTraining()" translate>BTN.DELETE</a>
        </div>
    </div>
</div>
