<h2 translate>HEADER.EDIT-ROLES</h2>

<div *ngFor="let role of roles" class="row mb-2">
    <div class="col-md-2">
        <button *ngIf="!hasRole(role)" (click)="assignRole(role)" class="btn btn-success btn-block" translate>BTN.ASSIGN</button>
        <button *ngIf="hasRole(role)" (click)="retractRole(role)" class="btn btn-danger btn-block" translate>BTN.RETRACT</button>
    </div>
    <div class="col-md-5" translate>
        ROLE.{{role.name}}
    </div>
</div>

<button class="btn btn-dark" [routerLink]="['/admin/users', user.username]" translate>
    BTN.BACK
</button>
