<h2 translate>HEADER.EDIT-ROLES</h2>

<div class="row mb-2">
    <div class="col-md-2 col-form-label" translate>USER.ROLES</div>
    <div class="col-md-5">
        <div *ngFor="let role of availableRoles" class="row">
            <button *ngIf="!hasRole(role)" (click)="assignRole(role)" class="btn-camouflaged" translate><i
                class="fa fa-square-o mr-2"></i>ROLE.{{role.name}}
            </button>
            <button *ngIf="hasRole(role)" (click)="retractRole(role)" class="btn-camouflaged" translate><i
                class="fa fa-check-square-o mr-2"></i>ROLE.{{role.name}}
            </button>
        </div>
    </div>
</div>

<button [routerLink]="['/admin/users', user.username]" type="button" class="btn btn-dark" translate>
    BTN.BACK
</button>
<button (click)="submitRoles()" type="button" class="btn btn-success" translate>
    BTN.SAVE
</button>
