<h2 translate>HEADER.EDIT-PASSWORD</h2>

<form [formGroup]="editPasswordForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
        <div>
            <fieldset class="form-group row">
                <label for="new" class="col-md-2 col-form-label" translate>USER.NEW-PASSWORD</label>
                <div class="col-md-5">
                    <input
                        id="new"
                        class="form-control"
                        formControlName="new"
                        [(ngModel)]="formData.newPassword"
                        placeholder="{{ 'USER.NEW-PASSWORD' | translate }}"
                        type="password"/>
                    <div
                        *ngIf="editPasswordForm.controls['new'].errors && !editPasswordForm.controls['new'].pristine"
                        class="text-danger">
                        <div [hidden]="!editPasswordForm.controls['new'].errors.required"
                             translate>ERROR.REQUIRED
                        </div>
                        <div [hidden]="!editPasswordForm.controls['new'].errors.minlength"
                             translate
                             [translateParams]="{value: 3}">ERROR.MIN-LEN
                        </div>
                        <div [hidden]="!editPasswordForm.controls['new'].errors.maxlength"
                             translate
                             [translateParams]="{value: 60}">ERROR.MAX-LEN
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="repeated" class="col-md-2 col-form-label"
                       translate>USER.NEW-PASSWORD-REPEATED</label>
                <div class="col-md-5">
                    <input
                        id="repeated"
                        class="form-control"
                        formControlName="repeated"
                        [(ngModel)]="formData.newPasswordRepeated"
                        placeholder="{{ 'USER.NEW-PASSWORD-REPEATED' | translate }}"
                        type="password"/>
                    <div
                        *ngIf="editPasswordForm.controls['repeated'].errors && !editPasswordForm.controls['repeated'].pristine"
                        class="text-danger">
                        <div [hidden]="!editPasswordForm.controls['repeated'].errors.required"
                             translate>ERROR.REQUIRED
                        </div>
                        <div
                            [hidden]="!editPasswordForm.controls['repeated'].errors.minlength"
                            translate
                            [translateParams]="{value: 3}">ERROR.MIN-LEN
                        </div>
                        <div
                            [hidden]="!editPasswordForm.controls['repeated'].errors.maxlength"
                            translate
                            [translateParams]="{value: 60}">ERROR.MAX-LEN
                        </div>
                    </div>
                    <div
                        *ngIf="editPasswordForm.hasError('notSame') && !editPasswordForm.controls['repeated'].pristine && !isSubmitting"
                        class="text-danger" translate>
                        ERROR.INVALID-REPEATED-PASSWORD
                    </div>
                </div>
            </fieldset>
        </div>

        <app-list-errors [errors]="validationErrors"></app-list-errors>

        <button class="btn btn-success" [disabled]="!editPasswordForm.valid" type="submit" translate>
            BTN.SAVE
        </button>
        <button class="btn btn-dark" [routerLink]="['/admin/users', user.username]" translate>
            BTN.BACK
        </button>
    </fieldset>
</form>
