<div class="card mt-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="planned-tab" data-toggle="tab" href="#planned" role="tab" aria-controls="planned"
                   aria-selected="true" translate>BTN.PLANNED-TRAININGS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="finished-tab" data-toggle="tab" href="#finished" role="tab" aria-controls="finished"
                   aria-selected="false" translate>BTN.FINISHED-TRAININGS</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="card-title" translate>
            <i class="fa fa-graduation-cap"></i> HEADER.TRAININGS
        </div>
        <div class="card-subtitle text-muted" translate>
            {{'HEADER.HOME' | translate }} <i class="fa fa-angle-double-right fa-fw"></i> {{'HEADER.TRAININGS' | translate
            }}
        </div>
        <div class="card-text">
            <div class="tab-content" >
                <div class="tab-pane fade show active" id="planned" role="tabpanel" aria-labelledby="planned-tab">
                    <app-trainings-list [paginationData]="plannedPagedResults" [listData]="plannedTrainingsList"
                                        (userInteracted)="loadPlannedListData($event)" [visibleSearch]="false"></app-trainings-list>
                </div>
                <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="finished-tab">
                    <app-trainings-list [paginationData]="finishedPagedResults" [listData]="finishedTrainingsList"
                                        (userInteracted)="loadFinishedListData($event)"
                                        [visibleSearch]="false"></app-trainings-list>
                </div>
            </div>
        </div>
    </div>
</div>
