.login-page {
    background-image: url("../../assets/img/login-page-bg.jpg");
    background-size: cover;
}

.login-card {
    padding: 1.5em;
    -webkit-box-shadow: 0 3px 2px #777;
    -moz-box-shadow: 0 3px 2px #777;
    box-shadow: 0 3px 2px #777;
}
