<div class="container">
    <div class="row">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">
                <fieldset class="form-group">
                    <input
                        formControlName="username"
                        placeholder="Username"
                        type="text" />
                </fieldset>
                <fieldset class="form-group">
                    <input
                        formControlName="password"
                        placeholder="Password"
                        type="password" />
                </fieldset>

                <div *ngIf="isBadCredentials" class="text-danger">Bad username or/and password!</div>

                <button class="btn" [disabled]="!loginForm.valid" type="submit">
                    Login
                </button>
            </fieldset>
        </form>
    </div>
</div>
