<div class="card mt-3">
    <div class="card-body">
        <div class="card-title" translate>
            <i class="fa fa-user-o"></i> HEADER.EDIT-PASSWORD
            <div class="float-right">
                <button routerLink="/profile" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-angle-double-left fa-fw"></i> <span class="xs-hidden" translate>BTN.BACK</span>
                </button>
            </div>
        </div>
        <div class="card-subtitle text-muted" translate>
            {{'HEADER.HOME' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{'HEADER.PROFILE' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{'HEADER.EDIT-PASSWORD' | translate }}
        </div>
        <div class="card-text">
            <app-form-legend></app-form-legend>
            <form [formGroup]="editPasswordForm" (ngSubmit)="submitForm()">
                <fieldset [disabled]="isSubmitting">
                    <fieldset class="form-group row">
                        <label for="current-password" class="col-12 col-form-label">{{ 'USER.CURRENT-PASSWORD' | translate }}
                            <span class="text-danger">*</span></label>
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <input
                                id="current-password"
                                class="form-control"
                                formControlName="current-password"
                                [(ngModel)]="formData.currentPassword"
                                placeholder="{{ 'USER.CURRENT-PASSWORD' | translate }}"
                                type="password"/>
                            <app-form-errors [serverErrors]="validationErrors"
                                             [controlName]="'current-password'"
                                             [formControl]="editPasswordForm.controls['current-password']"
                                             [maxLength]="validation.password.max"
                                             [minLength]="validation.password.min" ngDefaultControl></app-form-errors>
                        </div>
                    </fieldset>
                    <div formGroupName="new-passwords">
                        <fieldset class="form-group row">
                            <label for="new-password" class="col-12 col-form-label">{{ 'USER.NEW-PASSWORD' | translate }} <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <input
                                    id="new-password"
                                    class="form-control"
                                    formControlName="new"
                                    [(ngModel)]="formData.newPassword"
                                    placeholder="{{ 'USER.NEW-PASSWORD' | translate }}"
                                    type="password"/>
                                <app-form-errors [serverErrors]="validationErrors"
                                                 [controlName]="'new'"
                                                 [formControl]="editPasswordForm.controls['new-passwords'].controls['new']"
                                                 [maxLength]="validation.password.max"
                                                 [minLength]="validation.password.min" ngDefaultControl></app-form-errors>
                            </div>
                        </fieldset>
                        <fieldset class="form-group row">
                            <label for="new-password-repeated" class="col-12 col-form-label"
                            >{{ 'USER.NEW-PASSWORD-REPEATED' | translate }} <span class="text-danger">*</span></label>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <input
                                    id="new-password-repeated"
                                    class="form-control"
                                    formControlName="repeated"
                                    [(ngModel)]="formData.newPasswordRepeated"
                                    placeholder="{{ 'USER.NEW-PASSWORD-REPEATED' | translate }}"
                                    type="password"/>
                                <app-form-errors [serverErrors]="validationErrors"
                                                 [controlName]="'repeated'"
                                                 [formControl]="editPasswordForm.controls['new-passwords'].controls['repeated']"
                                                 [maxLength]="validation.password.max"
                                                 [minLength]="validation.password.min" ngDefaultControl></app-form-errors>
                                <div
                                    *ngIf="editPasswordForm.hasError('notSame', 'new-passwords') && !editPasswordForm.controls['new-passwords'].controls['repeated'].pristine && !isSubmitting"
                                    class="text-danger" translate>
                                    ERROR.INVALID-REPEATED-PASSWORD
                                </div>
                            </div>
                        </fieldset>
                    </div>


                    <hr/>
                    <button [disabled]="!editPasswordForm.valid" type="submit" class="btn btn-sm btn-outline-success" translate>
                        BTN.SAVE
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
