<form [formGroup]="searchTrainingForm" (ngSubmit)="search()">
    <fieldset class="col-md-3">
        <label for="training-name" class="col-form-label" translate>TRAINING.NAME</label>
        <input
            id="training-name"
            class="form-control"
            formControlName="name"
            [(ngModel)]="formData.name"
            type="text"/>
    </fieldset>
    <fieldset class="col-md-3">
        <label for="training-type" class="col-form-label" translate>TRAINING.TYPE</label>
        <input
            id="training-type"
            class="form-control"
            formControlName="type"
            [(ngModel)]="formData.type"
            type="text"/>
    </fieldset>
    <fieldset class="col-md-3">
        <label for="training-location" class="col-form-label" translate>TRAINING.LOCATION</label>
        <input
            id="training-location"
            class="form-control"
            formControlName="location"
            [(ngModel)]="formData.location"
            type="text"/>
    </fieldset>
    <fieldset class="col-md-3">
        <label for="training-startDate" class="col-form-label" translate>TRAINING.START</label>
        <input
            id="training-startDate"
            class="form-control"
            formControlName="startDate"
            [(ngModel)]="formData.startDate"
            type="text"/>
    </fieldset>

    <button type="submit" class="btn btn-success" translate>
        BTN.FILTER
    </button>
    <button [disabled]="!isFilteringEnabled" (click)="resetSearchForm()" type="button" class="btn btn-success"
            translate>
        BTN.RESET
    </button>
</form>

<table class="table table-hover">
    <thead>
    <tr>
        <th translate>TRAINING.NAME</th>
        <th translate>TRAINING.START</th>
        <th translate>TRAINING.LOCATION</th>
        <th translate>HEADER.ACTION</th>
    </tr>
    </thead>
    <tbody *ngIf="trainingsList.length !== 0">
    <tr *ngFor="let training of trainingsList">
        <td>{{training.name}}</td>
        <td>{{training.startDateTime}}</td>
        <td>{{training.location}}</td>
        <td>{{training.position}}</td>
        <td>
            <button class="btn" [routerLink]="training.id" translate>BTN.DETAILS</button>
        </td>
    </tr>
    </tbody>
    <tbody *ngIf="trainingsList.length === 0">
    <tr>
        <td colspan="4" class="text-center">- {{'NO-RESULTS' | translate}} -</td>
    </tr>
    </tbody>
</table>

<app-pagination *ngIf="trainingsList.length !== 0" (pageChanged)="loadPage($event)"
                [paginationData]="pagedResults"></app-pagination>
