<button *ngIf="showSearch" class="btn btn-outline-info btn-sm" type="button" data-toggle="collapse" data-target="#form"
        aria-expanded="false" aria-controls="form" translate>
    <i class="fa fa-search mr-2"></i> BTN.FILTER-LIST
</button>

<div *ngIf="showSearch" class="collapse" id="form">
    <div class="card card-body">
        <form [formGroup]="searchTrainingForm" (ngSubmit)="search()" class="row">
            <fieldset class="col-md-6 col-lg-4 col-xl-3">
                <label for="training-name" class="col-form-label" translate>TRAINING.NAME</label>
                <input
                    id="training-name"
                    class="form-control"
                    formControlName="name"
                    [(ngModel)]="formData.name"
                    type="text"/>
            </fieldset>
            <fieldset class="col-md-6 col-lg-4 col-xl-3">
                <label for="training-type" class="col-form-label" translate>TRAINING.TYPE</label>
                <input
                    id="training-type"
                    class="form-control"
                    formControlName="type"
                    [(ngModel)]="formData.type"
                    type="text"/>
            </fieldset>
            <fieldset class="col-md-6 col-lg-4 col-xl-3">
                <label for="training-location" class="col-form-label" translate>TRAINING.LOCATION</label>
                <input
                    id="training-location"
                    class="form-control"
                    formControlName="location"
                    [(ngModel)]="formData.location"
                    type="text"/>
            </fieldset>
            <div class="col-12 mt-2">
                <button type="submit" class="btn btn-outline-info" translate>
                    BTN.FILTER
                </button>
                <button [disabled]="!isFilteringEnabled" (click)="resetSearchForm()" type="button"
                        class="btn btn-outline-secondary"
                        translate>
                    BTN.RESET
                </button>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th translate>TRAINING.NAME</th>
        <th class="sm-hidden" translate>TRAINING.START</th>
        <th class="md-hidden" translate>TRAINING.LOCATION</th>
        <th translate>HEADER.ACTION</th>
    </tr>
    </thead>
    <tbody *ngIf="trainingsList.length !== 0">
    <tr *ngFor="let training of trainingsList">
        <td>{{training.name}}</td>
        <td class="sm-hidden">{{training.startDateTime | date: 'dd-MM-yyyy HH:ss'}}</td>
        <td class="md-hidden">{{training.location}}</td>
        <td>
            <button class="btn btn-outline-info btn-sm" [routerLink]="training.id" translate>BTN.DETAILS</button>
        </td>
    </tr>
    </tbody>
    <tbody *ngIf="trainingsList.length === 0">
    <tr>
        <td colspan="4" class="text-center">- {{'NO-RESULTS' | translate}} -</td>
    </tr>
    </tbody>
</table>

<app-pagination *ngIf="trainingsList.length !== 0" (pageChanged)="loadPage($event)"
                [paginationData]="pagedResults"></app-pagination>
