<div class="card mt-3">
    <div class="card-body">
        <div class="card-title" translate>
            <i class="fa fa-user-o"></i> HEADER.PROFILE
        </div>
        <div class="card-subtitle text-muted" translate>
            {{'HEADER.HOME' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{'HEADER.PROFILE' | translate }}
        </div>
        <div class="card-text">
            <app-user-details [user]="loggedUser"></app-user-details>

            <hr/>
            <a class="btn btn-sm btn-outline-primary" routerLink="/profile/edit" translate>BTN.EDIT-PROFILE</a>
            <a class="btn btn-sm btn-outline-primary" routerLink="/profile/edit/password" translate>BTN.EDIT-PASSWORD</a>
        </div>
    </div>
</div>
