<app-layout-header></app-layout-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" *appAuthenticatedOnly="true">
            <ul class="nav flex-column sidebar bg-darker pt-3">
                <li class="nav-item">
                    <a class="nav-link link__white" routerLink="/dashboard"
                       routerLinkActive="sidebar-entry__active" translate><i class="fa fa-home mr-2"></i>DASHBOARD</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 mx-auto pt-3">
            <router-outlet></router-outlet>
            <app-layout-footer></app-layout-footer>
        </div>
    </div>
</div>
