<app-layout-header></app-layout-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" *appAuthenticatedOnly="true">
            <ul class="nav flex-column sidebar bg-darker pt-3">
                <li class="nav-item">
                    <a class="nav-link link__white" routerLink="/dashboard"
                       routerLinkActive="sidebar-entry__active" translate><i class="fa fa-home mr-2"></i>SIDEBAR.DASHBOARD</a>
                </li>
                <li class="nav-item" *appShowAdmin="true">
                    <span class="nav-link link__white" translate>SIDEBAR.ADMIN</span>
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link link__white" routerLink="/admin/users"
                               routerLinkActive="sidebar-entry__active" translate><i class="fa fa-users mr-2"></i>SIDEBAR.USERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link__white" routerLink="/admin/duties"
                               routerLinkActive="sidebar-entry__active" translate><i class="fa fa-check-square-o mr-2"></i>SIDEBAR.DUTIES</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" *appShowUnitLeader="true">
                    <span class="nav-link link__white" translate>SIDEBAR.UNIT-LEADER</span>
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link link__white" routerLink="/unitleader/users"
                               routerLinkActive="sidebar-entry__active" translate><i class="fa fa-users mr-2"></i>SIDEBAR.USERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link__white" routerLink="/unitleader/duties"
                               routerLinkActive="sidebar-entry__active" translate><i class="fa fa-check-square-o mr-2"></i>SIDEBAR.DUTIES</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-10 mx-auto pt-3">
            <router-outlet></router-outlet>
            <app-layout-footer></app-layout-footer>
        </div>
    </div>
</div>
