<app-layout-header></app-layout-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li *appShowAdmin="true" class="nav-item">
                    <a class="nav-link" href="#">Admin link</a>
                </li>
                <li *appShowEmployee="true" class="nav-item">
                    <a class="nav-link" href="#">Employee link</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<app-layout-footer></app-layout-footer>
