<nav class="navbar fixed-top bg--dark navbar-expand" *appAuthenticatedOnly="true">
    <button id="sidebar-toggle" (click)="toggleSidebar()" class="btn text--white hidden-md-up mr-1">
        <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand text--white navbar--link" href="#">Aurora</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *appShowUnitLeader="true">
                <button *ngIf="!isOutlookLogged" (click)="outlookService.login()" class="nav-link navbar--link text--white btn--transparent"
                        translate><i
                    class="fa fa-windows mr-1"></i>BTN.LOGIN
                </button>
                <button *ngIf="isOutlookLogged" class="nav-link navbar--link text--white btn--transparent"><i class="fa fa-windows mr-1"></i><i
                    class="fa fa-check"></i></button>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link navbar--link dropdown-toggle text--white" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle-o mr-1"></i> <span class="xs-hidden">{{loggedUser.name}} {{loggedUser.surname}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/profile" translate><i class="fa fa-user-o mr-1"
                                                                                aria-hidden="true"></i>
                        BTN.PROFILE</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item act-as-pointer" (click)="logout()" translate><i class="fa fa-power-off mr-1"
                                                                                            aria-hidden="true"></i>
                        BTN.LOGOUT</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
