<h2 translate>HEADER.MENTORS</h2>

<ul class="nav nav-tabs" id="mentorsListTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
           aria-selected="true" translate>BTN.ALL-MENTORS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="my-tab" data-toggle="tab" href="#my" role="tab" aria-controls="my" aria-selected="false"
           translate>BTN.MY-MENTORS</a>
    </li>
</ul>

<div class="row float-right mb-4">
    <button routerLink="add/mentor" class="btn btn-success" translate>
        BTN.BECOME-MENTOR
    </button>
</div>

<div class="tab-content" id="mentorsListTabsContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <app-mentors-list [paginationData]="pagedResults" [listData]="mentorsList"
                          (userInteracted)="loadListData($event)"></app-mentors-list>
    </div>
    <div class="tab-pane fade" id="my" role="tabpanel" aria-labelledby="my-tab">
        <table class="table table-hover">
            <thead>
            <tr>
                <th translate>SKILL._</th>
                <th translate>SKILL.LEVEL</th>
                <th translate>MENTOR.APPROVED</th>
                <th translate>MENTOR.ACTIVE</th>
                <th translate>HEADER.ACTION</th>
            </tr>
            </thead>
            <tbody *ngIf="myMentorsList.length !== 0">
            <tr *ngFor="let mentor of myMentorsList">
                <td>{{mentor.evaluation.skill.name}}</td>
                <td translate>SKILL-LEVEL.{{mentor.evaluation.leaderEvaluation}}</td>
                <td *ngIf="mentor.approved"><i class="fa fa-check text--green" aria-hidden="true"></i></td>
                <td *ngIf="!mentor.approved"><i class="fa fa-times text--red" aria-hidden="true"></i></td>
                <td *ngIf="mentor.active"><i class="fa fa-check text--green" aria-hidden="true"></i></td>
                <td *ngIf="!mentor.active"><i class="fa fa-times text--red" aria-hidden="true"></i></td>
                <td>
                    <button class="btn" [routerLink]="mentor.id" translate>BTN.DETAILS</button>
                </td>
            </tr>
            </tbody>
            <tbody *ngIf="myMentorsList.length === 0">
            <tr>
                <td colspan="5" class="text-center">- {{'NO-RESULTS' | translate}} -</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


