<div class="card mt-3">
    <div class="card-body">
        <div class="card-title" translate>
            <i class="fa fa-users"></i> HEADER.EDIT-USER-DUTIES
            <div class="float-right">
                <button [routerLink]="['/unitleader/users', user.id]" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-angle-double-left fa-fw"></i> <span class="xs-hidden" translate>BTN.BACK</span>
                </button>
            </div>
        </div>
        <div class="card-subtitle text-muted" translate>
            {{'HEADER.HOME' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{'HEADER.USERS' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{user.surname}} {{user.name}} <i class="fa fa-angle-double-right fa-fw"></i>
            {{'HEADER.EDIT-USER-DUTIES' | translate }}
        </div>
        <div class="card-text">
            <div class="row">
                <div class="col-12 col-form-label" translate>USER.DUTIES</div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div *ngFor="let checkbox of dutiesCheckboxes">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" [checked]="checkbox.value"
                                       (change)="checkbox.value = !checkbox.value">
                                {{checkbox.item.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <button (click)="submit()" type="button" class="btn btn-sm btn-outline-success" translate>
                BTN.SAVE
            </button>
        </div>
    </div>
</div>
