<h2 translate>HEADER.EDIT-PROFILE</h2>

<form [formGroup]="editProfileForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
        <fieldset class="form-group row">
            <label for="user-name" class="col-md-2 col-form-label">{{ 'USER.NAME' | translate }}</label>
            <div class="col-md-5">
                <input
                    id="user-name"
                    class="form-control"
                    formControlName="name"
                    [(ngModel)]="loggedUser.name"
                    placeholder="{{ 'USER.NAME' | translate }}"
                    type="text"/>
                <div *ngIf="editProfileForm.controls['name'].errors && !editProfileForm.controls['name'].pristine"
                     class="text-danger">
                    <div [hidden]="!editProfileForm.controls['name'].errors.required" translate>ERROR.REQUIRED</div>
                    <div [hidden]="!editProfileForm.controls['name'].errors.minlength" translate
                         [translateParams]="{value: 3}">ERROR.MIN-LEN
                    </div>
                    <div [hidden]="!editProfileForm.controls['name'].errors.maxlength" translate
                         [translateParams]="{value: 20}">ERROR.MAX-LEN
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="user-surname" class="col-md-2 col-form-label" translate>USER.SURNAME</label>
            <div class="col-md-5">
                <input
                    id="user-surname"
                    class="form-control"
                    formControlName="surname"
                    [(ngModel)]="loggedUser.surname"
                    placeholder="{{ 'USER.SURNAME' | translate }}"
                    type="text"/>
                <div *ngIf="editProfileForm.controls['surname'].errors && !editProfileForm.controls['surname'].pristine"
                     class="text-danger">
                    <div [hidden]="!editProfileForm.controls['surname'].errors.required" translate>ERROR.REQUIRED
                    </div>
                    <div [hidden]="!editProfileForm.controls['surname'].errors.minlength" translate
                         [translateParams]="{value: 3}">ERROR.MIN-LEN
                    </div>
                    <div [hidden]="!editProfileForm.controls['surname'].errors.maxlength" translate
                         [translateParams]="{value: 30}">ERROR.MAX-LEN
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="user-goals" class="col-md-2 col-form-label" translate>USER.GOALS</label>
            <div class="col-md-5">
                <textarea
                    id="user-goals"
                    class="form-control"
                    formControlName="goals"
                    [(ngModel)]="loggedUser.goals"
                    placeholder="{{ 'USER.GOALS' | translate }}"
                    rows="3"
                    cols="50"></textarea>
                <div *ngIf="editProfileForm.controls['goals'].errors && !editProfileForm.controls['goals'].pristine"
                     class="text-danger">
                    <div [hidden]="!editProfileForm.controls['goals'].errors.maxlength" translate
                         [translateParams]="{value: 200}">ERROR.MAX-LEN
                    </div>
                </div>
            </div>
        </fieldset>

        <app-list-errors [errors]="validationErrors"></app-list-errors>

        <button routerLink="/profile" type="button" class="btn btn-dark" translate>
            BTN.BACK
        </button>
        <button [disabled]="!editProfileForm.valid" type="submit" class="btn btn-success" translate>
            BTN.SAVE
        </button>
    </fieldset>
</form>
