<h2 translate>HEADER.EDIT-PROFILE</h2>

<form [formGroup]="editProfileForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
        <fieldset class="form-group row">
            <label for="user-name" class="col-md-2 col-form-label">{{ 'USER.NAME' | translate }}</label>
            <div class="col-md-5">
                <input
                    id="user-name"
                    class="form-control"
                    formControlName="name"
                    [(ngModel)]="loggedUser.name"
                    placeholder="{{ 'USER.NAME' | translate }}"
                    type="text"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'name'"
                                 [formControl]="editProfileForm.controls['name']"
                                 [maxLength]="20"
                                 [minLength]="3" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="user-surname" class="col-md-2 col-form-label" translate>USER.SURNAME</label>
            <div class="col-md-5">
                <input
                    id="user-surname"
                    class="form-control"
                    formControlName="surname"
                    [(ngModel)]="loggedUser.surname"
                    placeholder="{{ 'USER.SURNAME' | translate }}"
                    type="text"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'surname'"
                                 [formControl]="editProfileForm.controls['surname']"
                                 [maxLength]="30"
                                 [minLength]="3" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="user-goals" class="col-md-2 col-form-label" translate>USER.GOALS</label>
            <div class="col-md-5">
                <textarea
                    id="user-goals"
                    class="form-control"
                    formControlName="goals"
                    [(ngModel)]="loggedUser.goals"
                    placeholder="{{ 'USER.GOALS' | translate }}"
                    rows="3"
                    cols="50"></textarea>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'goals'"
                                 [formControl]="editProfileForm.controls['goals']"
                                 [maxLength]="200" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>

        <button routerLink="/profile" type="button" class="btn btn-dark" translate>
            BTN.BACK
        </button>
        <button [disabled]="!editProfileForm.valid" type="submit" class="btn btn-success" translate>
            BTN.SAVE
        </button>
    </fieldset>
</form>
