<h2 translate>HEADER.EDIT-PASSWORD</h2>

<form [formGroup]="editPasswordForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
        <fieldset class="form-group row">
            <label for="current-password" class="col-md-2 col-form-label">{{ 'USER.CURRENT-PASSWORD' | translate }} <span class="text-danger">*</span></label>
            <div class="col-md-5">
                <input
                    id="current-password"
                    class="form-control"
                    formControlName="current-password"
                    [(ngModel)]="formData.currentPassword"
                    placeholder="{{ 'USER.CURRENT-PASSWORD' | translate }}"
                    type="password"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'current-password'"
                                 [formControl]="editPasswordForm.controls['current-password']"
                                 [maxLength]="validation.password.max"
                                 [minLength]="validation.password.min" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <div formGroupName="new-passwords">
            <fieldset class="form-group row">
                <label for="new-password" class="col-md-2 col-form-label">{{ 'USER.NEW-PASSWORD' | translate }} <span class="text-danger">*</span></label>
                <div class="col-md-5">
                    <input
                        id="new-password"
                        class="form-control"
                        formControlName="new"
                        [(ngModel)]="formData.newPassword"
                        placeholder="{{ 'USER.NEW-PASSWORD' | translate }}"
                        type="password"/>
                    <app-form-errors [serverErrors]="validationErrors"
                                     [controlName]="'new'"
                                     [formControl]="editPasswordForm.controls['new-passwords'].controls['new']"
                                     [maxLength]="validation.password.max"
                                     [minLength]="validation.password.min" ngDefaultControl></app-form-errors>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="new-password-repeated" class="col-md-3 col-form-label"
                       >{{ 'USER.NEW-PASSWORD-REPEATED' | translate }} <span class="text-danger">*</span></label>
                <div class="col-md-5">
                    <input
                        id="new-password-repeated"
                        class="form-control"
                        formControlName="repeated"
                        [(ngModel)]="formData.newPasswordRepeated"
                        placeholder="{{ 'USER.NEW-PASSWORD-REPEATED' | translate }}"
                        type="password"/>
                    <app-form-errors [serverErrors]="validationErrors"
                                     [controlName]="'repeated'"
                                     [formControl]="editPasswordForm.controls['new-passwords'].controls['repeated']"
                                     [maxLength]="validation.password.max"
                                     [minLength]="validation.password.min" ngDefaultControl></app-form-errors>
                    <div
                        *ngIf="editPasswordForm.hasError('notSame', 'new-passwords') && !editPasswordForm.controls['new-passwords'].controls['repeated'].pristine && !isSubmitting"
                        class="text-danger" translate>
                        ERROR.INVALID-REPEATED-PASSWORD
                    </div>
                </div>
            </fieldset>
        </div>
        <app-form-legend></app-form-legend>

        <button routerLink="/profile" type="button" class="btn btn-dark" translate>
            BTN.BACK
        </button>
        <button [disabled]="!editPasswordForm.valid" type="submit" class="btn btn-success" translate>
            BTN.SAVE
        </button>
    </fieldset>
</form>
