<h2 translate>HEADER.TASK-MANAGEMENT</h2>

<p>
    {{ 'TASK.CONTENT' | translate }}: {{selectedTask.content}}
</p>
<p *ngIf="selectedTask.deadlineDate !== null && selectedTask.deadlineDate !== undefined">
    {{ 'TASK.DEADLINE-DATE' | translate }}: {{selectedTask.deadlineDate | date:'dd-MM-yyyy'}}
</p>
<p *ngIf="selectedTask.deadlineDate === null || selectedTask.deadlineDate === undefined">
    {{ 'TASK.DEADLINE-DATE' | translate }}: -
</p>

<a class="btn btn-lg btn-primary" routerLink="/employee/tasks" translate>BTN.BACK</a>
<a *ngIf="!selectedTask.doneDate" class="btn btn-lg btn-success" (click)="setAsDone()" translate>BTN.DONE</a>
<a class="btn btn-lg btn-primary" routerLink="edit" translate>BTN.EDIT-DETAILS</a>
<a class="btn btn-lg btn-danger" (click)="deleteTask()" translate>BTN.DELETE</a>
