<form [formGroup]="searchUserForm" (ngSubmit)="search()" >
    <fieldset class="col-md-3">
        <label for="user-username" class="col-form-label" translate>USER.USERNAME</label>
        <input
            id="user-username"
            class="form-control"
            formControlName="username"
            [(ngModel)]="formData.username"
            type="text"/>
    </fieldset>
    <fieldset class="col-md-3">
        <label for="user-name" class="col-form-label" translate>USER.NAME</label>
        <input
            id="user-name"
            class="form-control"
            formControlName="name"
            [(ngModel)]="formData.name"
            type="text"/>
    </fieldset>
    <fieldset class="col-md-3">
        <label for="user-surname" class="col-form-label" translate>USER.SURNAME</label>
        <input
            id="user-surname"
            class="form-control"
            formControlName="surname"
            [(ngModel)]="formData.surname"
            type="text"/>
    </fieldset>
    <fieldset class="col-md-3">
        <label for="user-email" class="col-form-label" translate>USER.EMAIL</label>
        <input
            id="user-email"
            class="form-control"
            formControlName="email"
            [(ngModel)]="formData.email"
            type="text"/>
    </fieldset>

    <button type="submit" class="btn btn-success" translate>
        BTN.FILTER
    </button>
    <button [disabled]="!isFilteringEnabled" (click)="resetSearchForm()" type="button" class="btn btn-success" translate>
        BTN.RESET
    </button>
</form>

<table class="table table-hover">
    <thead>
    <tr>
        <th translate>USER.SURNAME</th>
        <th translate>USER.NAME</th>
        <th translate>USER.USERNAME</th>
        <th translate>USER.POSITION</th>
        <th translate>USER.ENABLED</th>
        <th translate>HEADER.ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of usersList">
        <td>{{user.surname}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.position}}</td>
        <td *ngIf="user.enabled" class="text-success" translate>YES</td>
        <td *ngIf="!user.enabled" class="text-danger" translate>NO</td>
        <td>
            <button class="btn" [routerLink]="user.username" translate>BTN.DETAILS</button>
        </td>
    </tr>
    </tbody>
</table>

<app-pagination (pageChanged)="loadPage($event)" [paginationData]="pagedResults"></app-pagination>
