<form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
        <fieldset *ngIf="!isEditAction" class="form-group row">
            <label for="user-username" class="col-md-2 col-form-label">{{ 'USER.USERNAME' | translate }} <span
                class="text-danger">*</span></label>
            <div class="col-md-5">
                <input
                    id="user-username"
                    class="form-control"
                    formControlName="username"
                    [(ngModel)]="user.username"
                    placeholder="{{ 'USER.USERNAME' | translate }}"
                    type="text"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'username'"
                                 [formControl]="userForm.controls['username']"
                                 [maxLength]="validation.username.max"
                                 [minLength]="validation.username.min" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <fieldset *ngIf="!isEditAction" class="form-group row">
            <label for="user-password" class="col-md-2 col-form-label">{{ 'USER.PASSWORD' | translate }} <span
                class="text-danger">*</span></label>
            <div class="col-md-5">
                <input
                    id="user-password"
                    class="form-control"
                    formControlName="password"
                    [(ngModel)]="user.password"
                    placeholder="{{ 'USER.PASSWORD' | translate }}"
                    type="password"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'password'"
                                 [formControl]="userForm.controls['password']"
                                 [maxLength]="validation.password.max"
                                 [minLength]="validation.password.min" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="user-email" class="col-md-2 col-form-label">{{ 'USER.EMAIL' | translate }} <span
                class="text-danger">*</span></label>
            <div class="col-md-5">
                <input
                    id="user-email"
                    class="form-control"
                    formControlName="email"
                    [(ngModel)]="user.email"
                    placeholder="{{ 'USER.EMAIL' | translate }}"
                    type="text"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'email'"
                                 [formControl]="userForm.controls['email']"
                                 [maxLength]="validation.email.max" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="user-name" class="col-md-2 col-form-label">{{ 'USER.NAME' | translate }} <span
                class="text-danger">*</span></label>
            <div class="col-md-5">
                <input
                    id="user-name"
                    class="form-control"
                    formControlName="name"
                    [(ngModel)]="user.name"
                    placeholder="{{ 'USER.NAME' | translate }}"
                    type="text"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'name'"
                                 [formControl]="userForm.controls['name']"
                                 [maxLength]="validation.name.max"
                                 [minLength]="validation.name.min" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="user-surname" class="col-md-2 col-form-label">{{ 'USER.SURNAME' | translate }} <span
                class="text-danger">*</span></label>
            <div class="col-md-5">
                <input
                    id="user-surname"
                    class="form-control"
                    formControlName="surname"
                    [(ngModel)]="user.surname"
                    placeholder="{{ 'USER.SURNAME' | translate }}"
                    type="text"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'surname'"
                                 [formControl]="userForm.controls['surname']"
                                 [maxLength]="validation.surname.max"
                                 [minLength]="validation.surname.min" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="user-position" class="col-md-2 col-form-label">{{ 'USER.POSITION' | translate }} <span
                class="text-danger">*</span></label>
            <div class="col-md-5">
                <input
                    id="user-position"
                    class="form-control"
                    formControlName="position"
                    [(ngModel)]="user.position"
                    placeholder="{{ 'USER.POSITION' | translate }}"
                    type="text"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'position'"
                                 [formControl]="userForm.controls['position']"
                                 [maxLength]="validation.position.max"
                                 [minLength]="validation.position.min" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="user-goals" class="col-md-2 col-form-label">{{ 'USER.GOALS' | translate }}</label>
            <div class="col-md-5">
                <textarea
                    id="user-goals"
                    class="form-control"
                    formControlName="goals"
                    [(ngModel)]="user.goals"
                    placeholder="{{ 'USER.GOALS' | translate }}"
                    rows="3"
                    cols="50"></textarea>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'goals'"
                                 [formControl]="userForm.controls['goals']"
                                 [maxLength]="validation.goals.max" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="user-enabled" class="col-md-2 col-form-label">{{ 'USER.ENABLED' | translate }} <span
                class="text-danger">*</span></label>
            <div class="col-md-5" id="user-enabled">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" formControlName="enabled" [value]="true"
                               [(ngModel)]="user.enabled">
                        {{'YES' | translate}}
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" formControlName="enabled" [value]="false"
                               [(ngModel)]="user.enabled">
                        {{'NO' | translate}}
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset *ngIf="allowRolesSelect" class="form-group row">
            <label for="user-roles" class="col-md-2 col-form-label">{{ 'USER.ROLES' | translate }}</label>
            <div class="col-md-5" id="user-roles">
                <div *ngFor="let role of availableRoles">
                    <button *ngIf="!hasRole(role)" (click)="assignRole(role)" class="btn-camouflaged" translate><i
                        class="fa fa-square-o mr-2"></i>ROLE.{{role.name}}
                    </button>
                    <button *ngIf="hasRole(role)" (click)="retractRole(role)" class="btn-camouflaged" translate><i
                        class="fa fa-check-square-o mr-2"></i>ROLE.{{role.name}}
                    </button>
                </div>
            </div>
        </fieldset>
        <app-form-legend></app-form-legend>

        <button (click)="goBack()" type="button" class="btn btn-dark" translate>
            BTN.BACK
        </button>
        <button [disabled]="!userForm.valid" type="submit" class="btn btn-success" translate>
            BTN.SAVE
        </button>
    </fieldset>
</form>
