<table class="table table-hover">
    <thead>
    <tr>
        <th translate>TASK.DONE-DATE</th>
        <th class="xs-hidden" translate>TASK.DEADLINE-DATE</th>
        <th translate>TASK.CONTENT</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasksList">
        <td>{{task.doneDate}}</td>
        <td *ngIf="task.deadlineDate !== null && task.deadlineDate !== undefined" class="xs-hidden">{{task.deadlineDate}}</td>
        <td *ngIf="task.deadlineDate === null || task.deadlineDate === undefined" class="xs-hidden">-</td>
        <td>{{task.content}}</td>
    </tr>
    </tbody>
</table>

<app-pagination (pageChanged)="loadPage($event)"
                [paginationData]="pagedResults"></app-pagination>
