<table>
    <tr>
        <td class="text-bold pr-3" translate>TASK.PLANNED</td>
        <td>{{statistics.planned}}</td>
    </tr>
    <tr>
        <td class="text-bold pr-3" translate>TASK.OVERDUE</td>
        <td>{{statistics.overdue}}</td>
    </tr>
    <tr>
        <td class="text-bold pr-3" translate>TASK.DONE-LAST-WEEK</td>
        <td>{{statistics.doneLastWeek}}</td>
    </tr>
    <tr>
        <td class="text-bold pr-3" translate>TASK.DONE-LAST-MONTH</td>
        <td>{{statistics.doneLastMonth}}</td>
    </tr>
</table>
