<app-form-legend></app-form-legend>
<form [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
        <fieldset class="form-group row">
            <label for="task-content" class="col-12 col-form-label">{{ 'TASK.CONTENT' | translate }} <span
                class="text-danger">*</span></label>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <input
                    id="task-content"
                    class="form-control"
                    formControlName="content"
                    [(ngModel)]="task.content"
                    placeholder="{{ 'TASK.CONTENT' | translate }}"
                    type="text"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'content'"
                                 [formControl]="taskForm.controls['content']"
                                 [maxLength]="validation.content.max" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <label for="task-deadlineDate" class="col-12 col-form-label">{{ 'TASK.DEADLINE-DATE' | translate
                }}</label>
            <owl-date-time id="task-deadlineDate"
                           formControlName="deadlineDate"
                           [(ngModel)]="deadlineDate"
                           [dateFormat]="'YYYY-MM-DD'"
                           [placeHolder]="'YYYY-MM-DD'"
                           [min]="todayDate"
                           [type]="'calendar'"
                           class="col-sm-6 col-lg-4 col-xl-3"></owl-date-time>
            <app-form-errors [serverErrors]="validationErrors"
                             [controlName]="'deadlineDate'"
                             [formControl]="taskForm.controls['deadlineDate']" ngDefaultControl></app-form-errors>
        </fieldset>

        <hr/>
        <button [disabled]="!taskForm.valid" type="submit" class="btn btn-sm btn-outline-success" translate>
            BTN.SAVE
        </button>
    </fieldset>
</form>
