<div *ngIf="tasksPresent" class="row">
    <div *ngFor="let group of dateGroups" class="col-lg-6 col-xl-4">
        <ul class="list-group mb-4">
            <li *ngIf="group.date === 'overdue' && group.tasks.length !== 0" class="list-group-item list-group-item-danger justify-content-between" translate>
                <span class="task-badge float-right">{{group.tasks.length}}</span>
                TASK.OVERDUE
            </li>
            <li *ngIf="group.date === 'undated' && group.tasks.length !== 0" class="list-group-item justify-content-between" translate>
                <span class="task-badge float-right">{{group.tasks.length}}</span>
                TASK.UNDATED
            </li>
            <li *ngIf="group.date !== 'overdue' && group.date !== 'undated'" class="list-group-item list-group-item-success justify-content-between">
                <span class="task-badge float-right">{{group.tasks.length}}</span>
                {{group.date | date:'dd-MM-yyyy'}}
            </li>
            <li *ngFor="let task of group.tasks" class="list-group-item justify-content-between">
                <i class="fa fa-circle-o mr-2"></i> {{task.content}}
                <a *ngIf="actionButton" [routerLink]="task.id" class="btn btn-outline-secondary btn-sm float-right" translate>BTN.DETAILS</a>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="!tasksPresent" translate>TASK.NO-TASKS</div>
