<nav class="navbar navbar-expand-md navbar-dark bg-darker" *appAuthenticatedOnly="true">
    <a class="navbar-brand" href="#">Aurora</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button *ngIf="!isOutlookLogged" (click)="outlookService.login()" class="btn btn-outline-primary" translate><i
                    class="fa fa-windows mr-1"></i>BTN.LOGIN
                </button>
                <button *ngIf="isOutlookLogged" class="btn btn-outline-primary"><i class="fa fa-windows mr-1"></i><i
                    class="fa fa-check"></i></button>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate
                   [translateParams]="{name: loggedUser.username}">
                    HEADER.GREETER
                </a>
                <div class="dropdown-menu right-0__no-left" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/profile" translate><i class="fa fa-user-o mr-1"
                                                                                aria-hidden="true"></i>
                        BTN.PROFILE</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item act-as-pointer" (click)="logout()" translate><i class="fa fa-power-off mr-1"
                                                                                            aria-hidden="true"></i>
                        BTN.LOGOUT</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
