<nav class="navbar navbar-expand-md navbar-dark bg-darker" *appAuthenticatedOnly="true">
    <a class="navbar-brand" href="#">Aurora</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li *appAuthenticatedOnly="false" class="nav-item active">
                <a class="nav-link" routerLink="/login"
                   routerLinkActive="active">Login</a>
            </li>
            <li *appAuthenticatedOnly="true" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello, {{loggedUser.username}}!
                </a>
                <div class="dropdown-menu right-0__no-left" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/profile"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>
                        Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item act-as-pointer" (click)="logout()"><i class="fa fa-power-off mr-1"
                                                                                  aria-hidden="true"></i>
                        Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
