<div class="card mt-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="undone-tab" data-toggle="tab" href="#undone" role="tab"
                   aria-controls="undone"
                   aria-selected="true" translate>BTN.ACTIVE</a>
            </li>
            <li *ngIf="doneTasksList.length !== 0" class="nav-item">
                <a class="nav-link" id="done-tab" data-toggle="tab" href="#done" role="tab" aria-controls="done"
                   aria-selected="false"
                   translate>BTN.DONE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="statistics-tab" data-toggle="tab" href="#statistics" role="tab"
                   aria-controls="statistics" aria-selected="false"
                   translate>BTN.STATISTICS</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="card-title" translate>
            <i class="fa fa-check-square-o"></i> HEADER.TASKS
        </div>
        <div class="card-subtitle text-muted" translate>
            {{'HEADER.HOME' | translate }} <i class="fa fa-angle-double-right fa-fw"></i> {{'HEADER.TASKS' | translate
            }}
        </div>
        <div class="card-text">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="undone" role="tabpanel" aria-labelledby="undone-tab">
                    <app-undone-tasks-list [listData]="undoneTasksList"></app-undone-tasks-list>
                </div>
                <div *ngIf="doneTasksList.length !== 0" class="tab-pane fade" id="done" role="tabpanel"
                     aria-labelledby="done-tab">
                    <app-done-tasks-list [paginationData]="donePagedResults" [listData]="doneTasksList"
                                         (userInteracted)="loadListData($event)"></app-done-tasks-list>
                </div>
                <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
                    <app-tasks-statistics [data]="statistics"></app-tasks-statistics>
                </div>
            </div>
        </div>
    </div>
</div>
