<h2 translate>HEADER.EDIT-PASSWORD</h2>

<form [formGroup]="editPasswordForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
        <div>
            <fieldset class="form-group row">
                <label for="new" class="col-md-2 col-form-label">{{ 'USER.NEW-PASSWORD' | translate }} <span class="text-danger">*</span></label>
                <div class="col-md-5">
                    <input
                        id="new"
                        class="form-control"
                        formControlName="new"
                        [(ngModel)]="formData.newPassword"
                        placeholder="{{ 'USER.NEW-PASSWORD' | translate }}"
                        type="password"/>
                    <app-form-errors [serverErrors]="validationErrors"
                                     [controlName]="'new'"
                                     [formControl]="editPasswordForm.controls['new']"
                                     [maxLength]="validation.password.max"
                                     [minLength]="validation.password.min" ngDefaultControl></app-form-errors>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="repeated" class="col-md-3 col-form-label"
                       >{{ 'USER.NEW-PASSWORD-REPEATED' | translate }} <span class="text-danger">*</span></label>
                <div class="col-md-5">
                    <input
                        id="repeated"
                        class="form-control"
                        formControlName="repeated"
                        [(ngModel)]="formData.newPasswordRepeated"
                        placeholder="{{ 'USER.NEW-PASSWORD-REPEATED' | translate }}"
                        type="password"/>
                    <app-form-errors [serverErrors]="validationErrors"
                                     [controlName]="'repeated'"
                                     [formControl]="editPasswordForm.controls['repeated']"
                                     [maxLength]="validation.password.max"
                                     [minLength]="validation.password.min" ngDefaultControl></app-form-errors>
                    <div
                        *ngIf="editPasswordForm.hasError('notSame') && !editPasswordForm.controls['repeated'].pristine && !isSubmitting"
                        class="text-danger" translate>
                        ERROR.INVALID-REPEATED-PASSWORD
                    </div>
                </div>
            </fieldset>
        </div>
        <app-form-legend></app-form-legend>

        <button [routerLink]="['/admin/users', user.id]" type="button" class="btn btn-dark" translate>
            BTN.BACK
        </button>
        <button [disabled]="!editPasswordForm.valid" type="submit" class="btn btn-success" translate>
            BTN.SAVE
        </button>
    </fieldset>
</form>
