<div class="card mt-3">
    <div class="card-body">
        <div class="card-title" translate>
            <i class="fa fa-address-card-o"></i> HEADER.MENTOR-MANAGEMENT
            <div class="float-right">
                <button routerLink="/unitleader/mentors" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-angle-double-left fa-fw"></i> <span class="xs-hidden" translate>BTN.BACK</span>
                </button>
            </div>
        </div>
        <div class="card-subtitle text-muted" translate>
            {{'HEADER.HOME' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{'HEADER.MENTORS' | translate }} <i class="fa fa-angle-double-right fa-fw"></i>
            {{mentor.evaluation.user.surname}} {{mentor.evaluation.user.name}}
            | {{mentor.evaluation.skill.name}}
        </div>
        <div class="card-text">
            <table>
                <tr>
                    <td class="text-bold pr-3" translate>EMPLOYEE</td>
                    <td>{{mentor.evaluation.user.surname}} {{mentor.evaluation.user.name}}</td>
                </tr>
                <tr>
                    <td class="text-bold pr-3" translate>SKILL._</td>
                    <td>{{mentor.evaluation.skill.name}}</td>
                </tr>
                <tr>
                    <td class="text-bold pr-3" translate>SKILL.LEVEL</td>
                    <td translate>SKILL-LEVEL.{{mentor.evaluation.leaderEvaluation}}</td>
                </tr>
                <tr>
                    <td class="text-bold pr-3" translate>MENTOR.APPROVED</td>
                    <td *ngIf="mentor.approved" translate>YES</td>
                    <td  *ngIf="!mentor.approved" translate>NO</td>
                </tr>
                <tr>
                    <td class="text-bold pr-3" translate>MENTOR.ACTIVE</td>
                    <td *ngIf="mentor.active" translate>YES</td>
                    <td *ngIf="!mentor.active" translate>NO</td>
                </tr>
                <tr *ngIf="feedback.length !== 0">
                    <td colspan="2">
                        <span class="text-bold" translate>MENTOR.OPINIONS</span>
                    </td>
                </tr>
            </table>
            <table *ngIf="feedback.length !== 0" class="table table-hover">
                <thead>
                <tr>
                    <th translate>FEEDBACK.AUTHOR</th>
                    <th class="xs-hidden" translate>FEEDBACK.SATISFIED</th>
                    <th translate>FEEDBACK.CONTENT</th>
                    <th class="md-hidden" translate>FEEDBACK.CREATE-DATE-TIME</th>
                    <th translate>HEADER.ACTION</th>
                </tr>
                </thead>
                <tr *ngFor="let entry of feedback">
                    <td>{{entry.user.surname}} {{entry.user.name}}</td>
                    <td *ngIf="entry.satisfied" class="xs-hidden" translate>YES</td>
                    <td *ngIf="!entry.satisfied" class="xs-hidden" translate>NO</td>
                    <td *ngIf="entry.studentFeedback.length !== 0">{{entry.studentFeedback}}</td>
                    <td *ngIf="entry.studentFeedback.length === 0">-</td>
                    <td class="md-hidden">{{entry.createDateTime}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger" (click)="deleteFeedback(entry)" translate>BTN.DELETE</button>
                    </td>
                </tr>
            </table>

            <hr/>
            <button *ngIf="!mentor.approved" class="btn btn-sm btn-outline-success" (click)="approveMentor()" type="button" translate>BTN.APPROVE</button>
            <button *ngIf="!mentor.active" class="btn btn-sm btn-outline-success" (click)="activateMentor()" type="button" translate>BTN.ACTIVATE</button>
            <button *ngIf="mentor.active" class="btn btn-sm btn-outline-secondary" (click)="deactivateMentor()" type="button" translate>BTN.DEACTIVATE</button>
            <button class="btn btn-sm btn-danger" (click)="deleteMentor()" type="button" translate>BTN.DELETE</button>
        </div>
    </div>
</div>
