<form [formGroup]="skillForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
        <fieldset class="form-group row">
            <label for="skill-name" class="col-md-2 col-form-label">{{ 'SKILL.NAME' | translate }} <span
                class="text-danger">*</span></label>
            <div class="col-md-5">
                <input
                    id="skill-name"
                    class="form-control"
                    formControlName="name"
                    [(ngModel)]="skill.name"
                    placeholder="{{ 'SKILL.NAME' | translate }}"
                    type="text"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'name'"
                                 [formControl]="skillForm.controls['name']"
                                 [maxLength]="validation.name.max" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>
        <app-form-legend></app-form-legend>

        <button (click)="goBack()" type="button" class="btn btn-dark" translate>
            BTN.BACK
        </button>
        <button [disabled]="!skillForm.valid" type="submit" class="btn btn-success" translate>
            BTN.SAVE
        </button>
    </fieldset>
</form>
