@import '~ng-pick-datetime/assets/style/picker.min.css';

.sidebar {
    min-height: calc(100vh - 50px);
    margin-left: -1rem;
    max-width: 250px;
}

.bg-darker {
    background-color: #282828 !important;
}

.sidebar-entry__active {
    background-color: #474747 !important;
}

.link__white {
    color: #ffffff;
}

.vertical-center {
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.minh-100 {
    min-height: 100vh;
}

.right-0__no-left {
    right: 0;
    left: auto;
}

.act-as-pointer {
    cursor: pointer;
}

.btn-camouflaged {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

.text--green {
    color: green;
}

.text--red {
    color: red;
}
