@import '~ng-pick-datetime/assets/style/picker.min.css';

#wrapper {
    display: flex;
}

.navbar-margin {
    margin-top: 56px;
}

#sidebar.inactive {
    margin-left: -250px;
}

#sidebar {
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    transition: all 0.3s;
    padding-bottom: 1em;
    color: #fff;
}

.sidebar__header {
    display: block;
    margin-top: 1.5em;
    padding-bottom: 0.25em;
    margin-left: 1em;
    border-bottom: 1px solid #575a5b;
}

.nav-link--sidebar:hover {
    background-color: #575a5b;
}

.text--white {
    color: #fff;
}

.nav-link--sidebar {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-left: 1em;
}

.nav-link--sidebar:hover {
    color: #fff;
    text-decoration: none;
}

.sidebar__active {
    background-color: #575a5b;
}

#sidebar-toggle {
    background-color: transparent;
    display: none;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebar-toggle {
        display: block;
    }
}

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    right: 0;
}

#content.active {
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.inactive {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }
}

.h-100vh {
    height: 100vh;
}

.bg--dark {
    background-color: #2e3133;
}

.navbar {
    color: #fff;
}

.fa-1_5x {
    font-size: 1.5em;
}
