@import '~ng-pick-datetime/assets/style/picker.min.css';

body {
    background-color: #fafafa;
}

#wrapper {
    display: flex;
}

.navbar-margin {
    margin-top: 56px;
}

#sidebar.inactive {
    margin-left: -250px;
}

#sidebar {
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    overflow-y: auto;
    transition: all 0.3s;
    padding-bottom: 3em;
    color: #fff;
    top: 56px;
    bottom: 0;
}

.sidebar__header {
    display: block;
    margin-top: 1.5em;
    padding-bottom: 0.25em;
    margin-left: 1em;
    border-bottom: 1px solid #575a5b;
}

.nav-link--sidebar:hover {
    background-color: #575a5b;
}

.text--white {
    color: #fff;
}

.nav-link--sidebar {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-left: 1em;
}

.nav-link--sidebar:hover {
    color: #fff;
    text-decoration: none;
}

.sidebar__active {
    background-color: #575a5b;
}

#sidebar-toggle {
    background-color: transparent;
    display: none;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebar-toggle {
        display: block;
    }
}

#content {
    width: calc(100% - 250px);
    transition: all 0.3s;
    position: absolute;
    right: 0;
}

#content.active {
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.inactive {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        margin-right: -250px;
    }
}

.h-100vh {
    height: 100vh;
}

.bg--dark {
    background-color: #2e3133;
}

.navbar {
    color: #fff;
}

.navbar li:hover {
    color: #fff;
    margin-bottom: -1px;
    border-bottom: 1px solid #fff;
}

.navbar .navbar-brand:hover {
    color: #fff;
    margin-bottom: -1px;
    border-bottom: 1px solid #fff;
}

.navbar--link:hover {
    color: #fff;
}

.fa-1_5x {
    font-size: 1.5em;
}

.btn--transparent {
    background-color: transparent;
    border: 0;
}

.btn {
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}

.card {
    /*box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);*/
    border-radius: 0.1rem;
}

.card-body {
    padding-top: 0.5rem;
}

.card-title {
    font-size: 1.5rem;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 0.5rem;
}

.card-subtitle {
    font-size: 0.85rem;
    margin-top: -0.75rem;
    margin-bottom: 2rem;
}

@media (max-width: 575px) {
    .xs-hidden {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm-hidden {
        display: none;
    }
}

@media (max-width: 991px) {
    .md-hidden {
        display: none;
    }
}

.form-control {
    border-radius: 0.1rem;
}

.card-header a {
    color: #000000;
}

.task-badge {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid #868e96;
    color: #868e96;
}

a.btn-danger, a.btn-danger:hover {
    color: #ffffff !important;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.btn-my-link, .btn-my-link:hover {
    font-weight: 400;
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.owl-datetime-main-input {
    height: inherit;
    padding: .375rem .75rem;
}
