<h2 translate>HEADER.USERS</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th translate>USER.SURNAME</th>
        <th translate>USER.NAME</th>
        <th translate>USER.USERNAME</th>
        <th translate>USER.POSITION</th>
        <th translate>USER.ENABLED</th>
        <th translate>HEADER.ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of usersList">
        <td>{{user.surname}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.position}}</td>
        <td *ngIf="user.enabled" class="text-success" translate>YES</td>
        <td *ngIf="!user.enabled" class="text-danger" translate>NO</td>
        <td>
            <button class="btn" [routerLink]="user.username" translate>BTN.DETAILS</button>
        </td>
    </tr>
    </tbody>
</table>

<app-pagination (pageChanged)="pageChanged($event)" [paginationData]="pagedResults"></app-pagination>
