<h2 translate>HEADER.MENTOR-MANAGEMENT</h2>

{{ 'EMPLOYEE' | translate }}: {{mentor.evaluation.user.surname}} {{mentor.evaluation.user.name}} <br/>
{{ 'SKILL._' | translate }}: {{mentor.evaluation.skill.name}} <br/>
{{ 'SKILL.LEVEL' | translate }}: <span translate>SKILL-LEVEL.{{mentor.evaluation.leaderEvaluation}}</span> <br/>
<span *ngIf="isMentorOwner">
{{ 'MENTOR.APPROVED' | translate }}:
    <span *ngIf="mentor.approved" translate>YES</span>
    <span *ngIf="!mentor.approved" translate>NO</span> <br/>
{{ 'MENTOR.ACTIVE' | translate }}:
    <span *ngIf="mentor.active" translate>YES</span>
    <span *ngIf="!mentor.active" translate>NO</span> <br/>
</span>

<a class="btn btn-lg btn-primary" routerLink="/employee/mentors" translate>BTN.BACK</a>
<a *ngIf="isMentorOwner && !mentor.active" class="btn btn-lg btn-success" (click)="activateMentor()" translate>BTN.ACTIVATE</a>
<a *ngIf="isMentorOwner && mentor.active " class="btn btn-lg btn-success" (click)="deactivateMentor()" translate>BTN.DEACTIVATE</a>
<a *ngIf="isMentorOwner" class="btn btn-lg btn-danger" (click)="deleteMentor()" translate>BTN.DELETE</a>
