<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2 translate>HEADER.USER-MANAGEMENT</h2>
            <app-user-details [user]="user" [extendedInfo]="true"></app-user-details>
            <a class="btn btn-lg btn-primary" routerLink="/unitleader/users" translate>BTN.BACK</a>
            <a *ngIf="isEmployeeUser" class="btn btn-lg btn-primary" routerLink="edit" translate>BTN.EDIT-DETAILS</a>
            <a *ngIf="isEmployeeUser" class="btn btn-lg btn-danger" (click)="deleteUser()" translate>BTN.DELETE</a>
            <hr/>
            <a class="btn btn-lg btn-primary" routerLink="edit/duties" translate>BTN.EDIT-USER-DUTIES</a>
            <a class="btn btn-lg btn-primary" routerLink="skills" translate>BTN.USER-SKILLS</a>
            <a class="btn btn-lg btn-primary" routerLink="tasks" translate>BTN.USER-TASKS</a>
        </div>
    </div>
</div>
