<app-form-legend></app-form-legend>
<form [formGroup]="dutyForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
        <fieldset class="form-group row">
            <label for="duty-name" class="col-12 col-form-label">{{ 'DUTY.NAME' | translate }} <span
                class="text-danger">*</span></label>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <input
                    id="duty-name"
                    class="form-control"
                    formControlName="name"
                    [(ngModel)]="duty.name"
                    placeholder="{{ 'DUTY.NAME' | translate }}"
                    type="text"/>
                <app-form-errors [serverErrors]="validationErrors"
                                 [controlName]="'name'"
                                 [formControl]="dutyForm.controls['name']"
                                 [maxLength]="validation.name.max" ngDefaultControl></app-form-errors>
            </div>
        </fieldset>

        <hr/>
        <button [disabled]="!dutyForm.valid" type="submit" class="btn btn-sm btn-outline-success" translate>
            BTN.SAVE
        </button>
    </fieldset>
</form>
