<table class="table table-hover">
    <thead>
    <tr>
        <th translate>USER.SURNAME</th>
        <th translate>USER.NAME</th>
        <th class="xs-hidden" translate>USER.EMAIL</th>
    </tr>
    </thead>
    <tbody *ngIf="usersList.length !== 0">
    <tr *ngFor="let user of usersList">
        <td>{{user.surname}}</td>
        <td>{{user.name}}</td>
        <td class="xs-hidden">{{user.email}}</td>
    </tr>
    </tbody>
    <tbody *ngIf="usersList.length === 0">
    <tr>
        <td colspan="3" class="text-center">- {{'NO-RESULTS' | translate}} -</td>
    </tr>
    </tbody>
</table>
