<table>
    <tr>
        <td class="text-bold pr-3" translate>USER.USERNAME</td>
        <td>{{selectedUser.username}}</td>
    </tr>
    <tr>
        <td class="text-bold pr-3" translate>USER.EMAIL</td>
        <td>{{selectedUser.email}}</td>
    </tr>
    <tr>
        <td class="text-bold pr-3" translate>USER.SURNAME</td>
        <td>{{selectedUser.surname}}</td>
    </tr>
    <tr>
        <td class="text-bold pr-3" translate>USER.NAME</td>
        <td>{{selectedUser.name}}</td>
    </tr>
    <tr>
        <td class="text-bold pr-3" translate>USER.POSITION</td>
        <td>{{selectedUser.position}}</td>
    </tr>
    <tr *ngIf="selectedUser.duties.length !== 0">
        <td class="text-bold pr-3" translate>USER.DUTIES</td>
        <td>{{getFormattedDuties()}}</td>
    </tr>
    <tr>
        <td class="text-bold pr-3" translate>USER.GOALS</td>
        <td>{{selectedUser.goals}}</td>
    </tr>
    <tr *ngIf="extendedInformation">
        <td class="text-bold pr-3" translate>USER.ENABLED</td>
        <td *ngIf="selectedUser.enabled" class="text-success" translate>YES</td>
        <td *ngIf="!selectedUser.enabled" class="text-danger" translate>NO</td>
    </tr>
    <tr *ngIf="extendedInformation">
        <td class="text-bold pr-3" translate>USER.ROLES</td>
        <td>
            <span *ngFor="let role of selectedUser.roles; let isLast = last">
                <span translate>ROLE.{{role.name}}</span>{{isLast ? '' : ', '}}
            </span>
        </td>
    </tr>
</table>
